

$white: #fff !default;
$gray-100: #f1f1f1 !default;
$gray-200: #737373 !default;
$gray-300: #212121 !default;
$gray-400: #171717 !default;
$gray-500: #101010 !default;
$black: #000 !default;


$primary: $black !default;
$secondary: $white !default;

