.detail {
    &__banner {
        position: relative;
        height: calc(100vh - 50px);
        min-height: 455px;
        background-image: url(https://prod1-kraken-cloudfront.rakuten.tv/images/placeholders/hero-1bbf9a928a.jpg);
        background-color: $black;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 215%;
        transition: height 0.1s linear, background-image 0.2s ease;
        transform: translateZ(0);
        will-change: background-position;
        z-index: 1;

        @include media-breakpoint-up(sm) {
            height: 570px;
            background-size: cover;
        }
        @include media-breakpoint-up(md) {
            height: 620px;
        }
    }

    &__info {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.3);
        background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0.7) 60%, #000 70%);

        @include media-breakpoint-up(sm) {
            background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.15) 60%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.7) 80%, #000 100%);
            justify-content: flex-end;
        }
    }

    &__title {
        font-size: 22px;
        margin-top: 16px;
        margin-bottom: 60px;
        font-weight: bold;
        letter-spacing: 1.6px;
        text-shadow: $text-shadow;

        @include media-breakpoint-up(sm) {
            font-size: 42px;
            margin-top: 166px;
        }
    }

    &__content {
        position: relative;
        padding: 0 0 25px;
        background-color: $gray-100;
        z-index: 0;

        @include media-breakpoint-up(md) {
            padding: 0 20px 20px;
        }

        &__main {
            display: block;
            width: 100%;

            @include media-breakpoint-up(md) {
                display: inline-block;
                padding-right: 25px;
                width: 70%;
            }
            @include media-breakpoint-up(lg) {
                width: 80%;
            }
        }

        &__plot {
            font-size: 16px;
            line-height: 180%;
            margin-top: 10px;
            margin-bottom: 30px;
            min-height: 200px;

            @include media-breakpoint-up(md) {
                min-height: 400px;
            }
        }

        * {
            color: $gray-500;
        }
    }
}
